{% extends "layout1.html"%}
{%block content1%}
<h1 class="title text-center">
  Bienvenido {{name}}
</h1>
<br>
<h3>
  ¡Bienvenidos a AutoChar! Si estás en busca de un automóvil nuevo, ¡has llegado al lugar indicado! Somos una empresa líder en venta en línea de automóviles nuevos y queremos invitarte a conocer todo lo que tenemos para ofrecer.
</h3>
<br>
<br>
<h2 class="text-center">Misión</h2>
<h4>Nuestra misión es ofrecer a nuestros clientes una experiencia de compra en línea fácil y segura para la adquisición
  de vehículos de alta calidad. Además, deberían centrarse en brindar un excelente servicio al cliente antes, durante y
  después de la venta para garantizar la satisfacción del cliente.</h4>
<br>
<h2 class="text-center">Visión</h2>
<h4>Nuestra visión es convertirse en la mejor opción para comprar vehículos en línea, ofreciendo una amplia selección de automóviles de calidad, una plataforma de compra segura y fácil de usar, y un servicio excepcional al cliente.</h4>
<br>
<h2 class="text-center">Valores</h2>
<h4> Los valores fundamentales de AutoChar son la honestidad, la transparencia, la integridad y la confianza en las transacciones en línea. También deberían enfocarse en la calidad de los vehículos que ofrecen, la atención al cliente, la innovación y la responsabilidad social y ambiental.</h4>
<br><br>
<div style="display: flex; justify-content: center;">
  <figure>
    <img style="height: 30rem; width: 60rem;" src="../static/bootstrap/img/logo.png" alt="Logo de Mi Empresa">
  </figure>
</div>
<br>
<footer>
  <h4 class="text-center">Derechos Reservados De AutoChar &copy; 2023</h4>
</footer>
{% endblock %}